<aside id="sidebar" [class.expand]="!expandedSidebar">
    <div class="d-flex">
      <button class="toggle-btn" type="button" (click)="toggleSidebar()">
        <i class="lni lni-menu"></i>
      </button>
      <div class="sidebar-logo">
        <a>ADMIN - Productos</a>
      </div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a
          class="sidebar-link collapsed has-dropdown"
          data-bs-toggle="collapse"
          data-bs-target="#products"
          aria-expanded="false"
          aria-controls="products"
        >
          <i class="lni lni-dropbox"></i>
          <span><strong>Productos</strong></span>
        </a>
        <ul
          id="products"
          class="sidebar-dropdown list-unstyled collapse"
          data-bs-parent="#sidebar"
        >
          <li class="sidebar-item">
            <a routerLink="/admin/products" class="sidebar-link" >Listar</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/admin/products/new" class="sidebar-link" >Nuevo</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a
          class="sidebar-link collapsed has-dropdown"
          data-bs-toggle="collapse"
          data-bs-target="#brands"
          aria-expanded="false"
          aria-controls="brands"
        >
          <i class="lni lni-tag"></i>
          <span><strong>Marcas</strong></span>
        </a>
        <ul
          id="brands"
          class="sidebar-dropdown list-unstyled collapse"
          data-bs-parent="#sidebar"
        >
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">Listar</a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">Nuevo</a>
          </li>
        </ul>
      </li>
  
      <li class="sidebar-item">
        <a
          class="sidebar-link collapsed has-dropdown"
          data-bs-toggle="collapse"
          data-bs-target="#product-types"
          aria-expanded="false"
          aria-controls="product-types"
        >
          <i class="lni lni-grid-alt"></i>
          <span><strong>Tipos de producto</strong></span>
        </a>
        <ul
          id="product-types"
          class="sidebar-dropdown list-unstyled collapse"
          data-bs-parent="#sidebar"
        >
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">Listar</a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">Nuevo</a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
