<footer class="footer p-0 ps-0 pe-0">
    <div class="container-fluid bg-dark-green pt-3">
      <div class="row g-0">
        <div class="col-md-2 col-0"></div>
        <div class="col-md-4 col-6">
          <p class="text-center fw-bold">Gluten • Away</p>
        </div>
        <div class="col-md-4 col-6">
          <p class="text-center fw-bold">Contacto</p>
        </div>
        <div class="col-md-2 col-0"></div>
      </div>
      <div class="row g-0">
        <div class="col-md-2 col-0"></div>
        <div class="col-md-4 col-6">
          <p class="text-center text-white">
            Gluten away es un espacio donde encontrarás alimentos de la mejor
            calidad 100% libres de gluten. Nuestro servicio de entrega rápida te
            permite disfrutar de tus productos favoritos en poco tiempo. Además,
            te conectamos con los mejores establecimientos libres de gluten en tu
            zona.
          </p>
        </div>
        <div class="col-md-4 col-6">
          <p class="text-center">
            Email: glutenaway@gmail.com<br />Teléfono: +54 351 888 8888
          </p>
        </div>
        <div class="col-md-2 col-0"></div>
      </div>
    </div>
    <p class="bg-black m-0 py-3 px-5 text-white-50">Copyright 2024© GlutenAway</p>
  </footer>
