<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand ps-1" href="#"
      ><img src="./assets/GlutenAwayLogo.jpeg" height="100" class="img-sm"
    /></a>
    <div class="d-flex d-lg-none ms-3 ps-4 pe-0 me-0">
      <button class="btn ga-btn-green fw-bold py-2  mx-0 me-4 ms-0 position-relative"><img src="./assets/navbar/shop-cart.png" height="30">
        <span class="badge bg-danger rounded-circle position-absolute fs-6 start-100 top-0 translate-middle">3</span>
      </button>
      <button class="btn ga-btn-light-green fw-bold py-2 px-sm-5 px-3 mx-0">Ingresar</button>
    </div>
    <button
      class="navbar-toggler border-0 ml-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img src="./assets/navbar/3-dots.png" height="30">
    </button>
    
    <div class="collapse navbar-collapse main-navbar " id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item px-2 px-lg-4 align-self-end align-self-lg-auto">
          <a class="nav-link active" aria-current="page">Inicio</a>
        </li>
        <li class="nav-item px-2 px-lg-4 align-self-end align-self-lg-auto">
          <a class="nav-link" href="#">Productos</a>
        </li>
        <li class="nav-item px-2 px-lg-4 align-self-end align-self-lg-auto">
          <a class="nav-link" href="#">Establecimientos</a>
        </li>
        <li class="nav-item px-2 px-lg-4 align-self-end align-self-lg-auto">
          <a class="nav-link" href="#">Nosotros</a>
        </li>
        <li class="nav-item px-2 px-lg-4 align-self-end align-self-lg-auto">
          <a class="nav-link" href="#">Ayuda</a>
        </li>
      </ul>
      
    </div>
    <div class="d-flex d-lg-flex d-none">
      <button class="btn ga-btn-green fw-bold py-2  mx-0 me-4 ms-3 position-relative"><img src="./assets/navbar/shop-cart.png" height="30">
        <span class="badge bg-danger rounded-circle position-absolute fs-6 start-100 top-0 translate-middle">3</span>
      </button>
      <button class="btn ga-btn-light-green fw-bold py-2 px-4 mx-0 me-md-5">Ingresar</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<footer class="footer p-0 ps-0 pe-0">
  <div class="container-fluid bg-dark-green pt-3">
    <div class="row g-0">
      <div class="col-md-2 col-0"></div>
      <div class="col-md-4 col-6">
        <p class="text-center fw-bold">Gluten • Away</p>
      </div>
      <div class="col-md-4 col-6">
        <p class="text-center fw-bold">Contacto</p>
      </div>
      <div class="col-md-2 col-0"></div>
    </div>
    <div class="row g-0">
      <div class="col-md-2 col-0"></div>
      <div class="col-md-4 col-6">
        <p class="text-center text-white">
          Gluten away es un espacio donde encontrarás alimentos de la mejor
          calidad 100% libres de gluten. Nuestro servicio de entrega rápida te
          permite disfrutar de tus productos favoritos en poco tiempo. Además,
          te conectamos con los mejores establecimientos libres de gluten en tu
          zona.
        </p>
      </div>
      <div class="col-md-4 col-6">
        <p class="text-center">
          Email: glutenaway@gmail.com<br />Teléfono: +54 351 888 8888
        </p>
      </div>
      <div class="col-md-2 col-0"></div>
    </div>
  </div>
  <p class="bg-black m-0 py-3 px-5 text-white-50">Copyright 2024© GlutenAway</p>
</footer>
